/* contact_us */
.container-contact--basic,
.container-contact--message{
    font-weight: normal;
    text-align: center;
    width: 100%;
    font-size: 14pt;
    line-height: 100%;
}

.container-contact--basic {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; 
    justify-content: space-evenly;
    padding: 0 3%;
}

.container-contact--message{
    display: block;
    padding: 0 10%;
}

#contact-introduction{
    padding-top: 20px;
    font-size: 16pt;
    line-height: normal;
}

/* tooltip */
.common-info, 
.tooltip{
    opacity: 0.8;
    font-size: 14pt;
    transition: all 0.5s ease;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.hidden-contact-data{
    display: none; 
    position: absolute;
}

.tooltip-text {
    font-size: 11pt;
    visibility: hidden;
    width: 100px;
    vertical-align: middle;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 900;
    bottom: -80%;
    left: -110px;
    opacity: 0;
    margin: 0 auto;
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1), bottom 0s linear;
}

.common-info:hover{
    opacity: 1;
}

.tooltip:hover{
    cursor: pointer;
    opacity: 1;
}

.tooltip:hover .tooltip-text {   
    visibility: visible;
    opacity: 0.7;
}
/* tooltip */

.contact-info-block{
    display: block;
    padding: 20px 10px;
    text-align: center;
}

.contact-info-block section{
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
    flex-flow: row nowrap;
    flex-grow: 1;
    width: 100%;
    padding: 30px 0 5px 0;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
    display: block;
    transform: scale(1);
    margin-right: 5px;
    width: fit-content;
}

#company-icon--small{
    width: 25px;
    object-fit: cover;
    height: auto;
    margin-right: 5px;
    filter: grayscale(100%);
    transition: filter 0.3s var(--easeInOutSin);
}

#contact-map{
    border-radius: 5pt;
    border: 2px solid #ddd;
    width: calc(min(400px, 95vw));
    max-width: 400px;
    height: 350px;
    margin-top: 10px;
    transition: border-color 0.3s var(--easeInOutSin);
}

#contact-map:hover{
    border-color: var(--mainColor);
}

/* || Contact form */
.form-group{
    display: block;
    width: 100%;
    margin-top: 10px;
}

select::-ms-expand{
    display: none;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contactus-form {
    display: grid;
    justify-items: stretch;
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-align: center;
    font-size: 24pt;
}

.contactus-form__control{
    display: block;
    font-family: 'Playfair Display', serif;
    border: 2px solid #ddd;
    padding: 12px;
    justify-self: center;
    border-radius: 5pt;
    transition: all 0.3s var(--easeInOutSin);
    outline: none;
    white-space: normal;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {    
    box-shadow: 0 0 0 30px #ddd inset;
}

.grid-item{
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}    

.split{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media only screen and (max-width: 700px){
    .split{
        display: grid;
        grid-template-columns: 100%;
    }
}

.contactus-form__control::placeholder{
    transition: all 0.3s var(--easeInOutSin);
}

.contactus-form__control:hover{
    border: 2px solid var(--mainColor);
}

/* \\add files button */
#add-files{
    position: absolute; 
    left: -99999rem
}    

.add-files-layout{
    width: 100%;
    padding: 0;
    height: 200px;
    margin: 0;
    border: 2px dashed #ddd;
    border-radius: 5px;
    transition: all 0.3s var(--easeInOutSin);
    overflow: hidden;
}    

.add-files-layout:hover{
    border: 2px dashed var(--mainColor);
}

#add-files-layout--inside{
    width: 100%;
    height: 105%;
    border-radius: 5px;
    background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 8px,
            #ddd 8px,
            #ddd 10px
    ) 50% 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: all 0.2s var(--easeInOutSin);
}

#add-files-layout--inside:hover{
    height: 100%
}

.contactus-form__control:focus:not(.add-files-layout){
    border: 2px solid var(--mainColor);
}

textarea.contactus-form__control{
    resize: none;
    height: 300px;
}

.button {
    background-color: white;
    border-radius: 5px;
    font-family: 'Playfair Display', serif;
    align-items: center;
    border: 2px solid #ddd;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    font-weight: 600;
    line-height: 1.25;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

.add-files-btn{
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 12pt;
    vertical-align: middle;
}

.submit-btn{
    padding: 10px 20px;
    margin: 30px auto;
    font-size: 14pt;
}

#files-selected{
    font-size: 12pt;
}

.button:hover,
.button:focus,
.add-files-btn:focus-within {
    border-color: var(--mainColor);
    box-shadow: #ddd 0 4px 12px;
    color: rgba(0, 0, 0, 1);
}

.button:hover,
.add-files-btn:hover {
    transform: translateY(-2px);
}

.button:active {
    background-color: #f0f0f0;
    border-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
    color: var(--mainColor);
    transform: translateY(0);
}
/* ... */